.footer-container{
    background-color: #24262a;
}

.footer-social-media{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.footer-image{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0b36a8;
    padding: 17px;
    font-size: 1.7rem;
    border-radius: 40px;
    transition: all 1s;
}
.footer-image:hover{
    transform: rotateZ(360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0b36a8;
    background-color: white;
    padding: 17px;
    font-size: 1.7rem;
    border-radius: 40px;
}