.footer-container{
    background-color: #24262a;
}

.footer-social-media{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.footer-image{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0b36a8;
    padding: 17px;
    /* width: 4%; */
    /* height: 50%; */
    font-size: 1.7rem;
    border-radius: 40px;
    /* text-align: center; */
}